<app-widgets-mini></app-widgets-mini>
<c-row>
  <c-col xs>
<c-card class="mb-12">
  <c-card-body>
    <c-row>
    <c-col lg="6" xs="12">
      <div echarts [options]="options1" class="demo-chart"></div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end" >
        <button cButton color="primary" routerLink="/views/chart-budget-detail" variant="outline">More</button>
      </div>
    </c-col>
    <c-col lg="6" xs="12">
      <div echarts [options]="options2" class="demo-chart"></div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end" >
        <button cButton color="primary" routerLink="/views/chart-spending-category" variant="outline">More</button>
      </div>
    </c-col>
  </c-row>
  </c-card-body>
</c-card>
</c-col>
</c-row>

<c-toaster position="top-end">
  <c-toast (visibleChange)="onVisibleChange($event)"
      [visible]="visible"
      color="danger">
    <c-toast-header [closeButton]="true">
      Error
      <small class="ms-auto">Just now</small>
    </c-toast-header>
    <c-toast-body>{{errorMessage}}</c-toast-body>
  </c-toast>
</c-toaster>
