<c-card class="mb-12">
  <c-card-header>
    <strong>Spendings by categories</strong>
  </c-card-header>
  <c-card-body>
    <c-row>
      <c-col lg="2" xs="12">
          <label cLabel for="inputCategory4">Initial Date</label>
          <select [(ngModel)]="selectedInitialDate"
            cSelect id="inputCategory4" style="width: 150px;" (change)="changeDate()">
            <option value="{{dateVoid}}">Select a date</option>
            <option *ngFor="let date of dates" [ngValue]="date">{{date.shortDate}}</option>
          </select>
      </c-col>
      <c-col lg="2" xs="12">
          <label cLabel for="inputCategory4">Final Date</label>
          <select [(ngModel)]="selectedFinalDate"
            cSelect id="inputCategory4" style="width: 150px;" (change)="changeDate()">
            <option value="{{dateVoid}}">Select a date</option>
            <option *ngFor="let date of dates" [ngValue]="date">{{date.shortDate}}</option>
          </select>
      </c-col>
    </c-row>
    <c-row>
      <c-col lg="6" xs="12">
        <div echarts [options]="options" class="demo-chart" style="height: 500px;"></div>
      </c-col>
      <c-col lg="6" xs="12">
        <table class="table table-striped table-hover table-responsive" *ngIf="(listItens.list | filter: listItens.searchText).length > 0; else noResults">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Spending</th>
              <th scope="col">Value</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr *ngFor="let spending of listItens.list | filter: listItens.searchText; let i = index">
              <th scope="row">{{i+1}}</th>
              <td>{{spending.name}}</td>
              <td>{{spending.value | currency}}</td>
            </tr>
          </tbody>
          <tfoot cTableColor="dark">
            <tr>
              <td></td>
              <td></td>
              <td><h5>Total:  {{total | currency}}</h5></td>
            </tr>
            </tfoot>
        </table>
        <ng-template #noResults>
          <p>No results found for "{{listItens.searchText}}".</p>
        </ng-template>
      </c-col>

    </c-row>
  </c-card-body>
</c-card>
