
<c-row>
  <c-card-group >
    <c-widget-stat-c
    [title]="'Budget Money'"
    value="{{stats.budgetMoney | currency}}"
  >
    <ng-template cTemplateId="widgetIconTemplate">
      <svg cIcon height="36" name="cilDollar"></svg>
    </ng-template>
    <ng-template cTemplateId="widgetProgressTemplate">

    </ng-template>
  </c-widget-stat-c>
  <c-widget-stat-c
  [title]="'Spendings'"
  value="{{stats.spendingMonth | currency}}"
>
  <ng-template cTemplateId="widgetIconTemplate">
    <svg cIcon height="36" name="cilArrowBottom"></svg>
  </ng-template>
  <ng-template cTemplateId="widgetProgressTemplate">

  </ng-template>
</c-widget-stat-c>
    <c-widget-stat-c
    [title]="'Budget'"
    value="{{stats.budgetPercentage}}%">
    <ng-template cTemplateId="widgetIconTemplate">
      <svg cIcon height="36" name="cilChartPie"></svg>
    </ng-template>
    <ng-template cTemplateId="widgetProgressTemplate">
      <c-progress class="mt-3 mb-0" thin>
        <c-progress-bar [value]="stats.budgetPercentage" color="primary"></c-progress-bar>
      </c-progress>
    </ng-template>
  </c-widget-stat-c>

<c-widget-stat-c
[title]="'Total Balance'"
value="{{stats.totalBalance | currency}}"
>
<ng-template cTemplateId="widgetIconTemplate">
  <svg cIcon height="36" name="cilSpeedometer"></svg>
</ng-template>
<ng-template cTemplateId="widgetProgressTemplate">

</ng-template>
</c-widget-stat-c>

  </c-card-group>
</c-row>
