<c-card class="mb-12">
  <c-card-header>
    <strong>Months </strong>
  </c-card-header>
  <c-card-body>
    <c-row>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button (click)="toggleModalUpload()" cButton>Import</button>
      </div>
      <c-col lg="8" xs="12">
        <table
          class="table table-striped table-hover table-responsive"
          *ngIf="
            sizeList(listItens.list | filter : listItens.searchText) > 0;
            else noResults
          "
          responsive
          cAlign="middle"
          cTable
        >
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Check</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr
              *ngFor="
                let spending of listItens.list | filter : listItens.searchText;
                let i = index
              "
            >
              <td>{{ spending.nameMonth }}</td>
              <td>
                <img
                  *ngIf="spending.isCheck"
                  src="./assets/img/checked.png"
                  width="54px"
                />
                <button
                  cButton
                  color="info"
                  routerLink="/views/spending-check-month/{{spending.id}}"
                >
                  <svg
                    cIcon
                    name="cilPencil"
                    cTextColor="white"
                    size="lg"
                  ></svg>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <ng-template #noResults>
          <p>No results found for "{{ listItens.searchText }}".</p>
        </ng-template>
      </c-col>
    </c-row>
  </c-card-body>
</c-card>

<c-modal
  #uploadModal
  alignment="center"
  id="deleteModal"
  [visible]="visibleModalUpload"
  (visibleChange)="handleModalDelete($event)"
>
  <c-modal-header>
    <h5 cModalTitle>Import</h5>
    <button [cModalToggle]="uploadModal.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <form [formGroup]="formCreditCardBill" class="row g-4">
      <c-col [md]="6">
        <label cLabel for="inputCard4">Card</label>
        <select
          aria-label="Default select example"
          cSelect
          id="inputCard4"
          formControlName="idCard"
        >
          <option value="">Select a card</option>
          <option *ngFor="let card of cards" value="{{ card.id }}">
            {{ card.issuer }}
          </option>
        </select>
      </c-col>
      <c-col [md]="6">
        <label cLabel for="inputDate4">Due Date</label>
        <div class="input-group">
          <input
            cFormControl
            formControlName="dueDate"
            class="form-control"
            placeholder="dd/mm/yyyy"
            name="dp"
            ngbDatepicker
            #d="ngbDatepicker"
          />
          <button
            class="btn btn-outline-secondary bi bi-calendar3"
            (click)="d.toggle()"
            type="button"
          >
            <svg cIcon name="cilCalendar" size="lg"></svg>
          </button>
        </div>
      </c-col>
    </form>

    <form [formGroup]="formFile">
      <div class="form-group">
        <c-col [md]="12">
        <label for="file">File</label>
        <input
          formControlName="file"
          id="file"
          type="file"
          class="form-control"
          (change)="onFileChange($event)"
          accept=".csv"
        />
        <div
          *ngIf="f['file'].touched && f['file'].invalid"
          class="alert alert-danger"
        >
          <div *ngIf="f['file'].errors && f['file'].errors['required']">
            File is required.
          </div>
        </div>
      </c-col>
      </div>
    </form>
  </c-modal-body>
  <c-modal-footer>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button (click)="uploadFile(); toggleModalUpload()" cButton>
        Upload
      </button>
      <button (click)="toggleModalUpload()" cButton color="secondary">
        Cancel
      </button>
    </div>
  </c-modal-footer>
</c-modal>
